
#root {
  display: grid;
  grid-template-columns: 200px 1fr;
  justify-content: center;
}

a {
  border: 1px solid #ddd;
  padding: 5px;
  margin: 5px;
  display: inline-flex;
}

.menu {
  display: flex;
  flex-direction: column;
  flex: 1;

  a {
    display: block;
  }
}

.mainContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  
  .container {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-bottom: 5px;
  }
}

.focused {
  color: #fff;
  background: #ff2200;

  &.container {
    background: none;
    outline: 2px solid #334433;
  }
}
